[package]
name = "gui"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
rand.workspace = true
commonwl = { path = "../cwl" }
dioxus = { version = "0.7.1", features = [] }
petgraph = "0.8.3"
rust-sugiyama = "0.4.0"

[features]
default = ["desktop"]
web = ["dioxus/web"]
desktop = ["dioxus/desktop"]
mobile = ["dioxus/mobile"]
