/* App-wide styling */
body {
  font-size: 12px;
}

html,
body {
  height: 100dvh;
  overflow: hidden;
  /* prevent root scrollbars */
}

.codebox pre {
  max-height: 100%;
  overflow: scroll;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}