/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 8px;
}

html,
body {
  height: 100%;
  overflow: hidden; /* prevent root scrollbars */
}