---
import { AnsiUp } from "ansi_up";
import help from "../assets/commands/s4n_help.txt?raw";
import create_calc from "../assets/commands/s4n_create_calc.txt?raw";
import create_plot from "../assets/commands/s4n_create_plot.txt?raw";
import create_wf from "../assets/commands/s4n_workflow_create.txt?raw";
import connect_wf from "../assets/commands/s4n_workflow_connect.txt?raw";
import execute from "../assets/commands/s4n_ex.txt?raw";

const commands = [
    "s4n --help",
    "s4n create python calculation.py --population population.csv --speakers speakers.csv",
    "s4n create python plot.py --results results.csv",
    "s4n create --name main",
    "s4n connect main --from @inputs/speakers --to calculation/speakers",
    "s4n execute local workflows/main/main.cwl inputs.yml"
];

const ansi_up = new AnsiUp();
const codeFiles = [
    ansi_up.ansi_to_html(help), 
    ansi_up.ansi_to_html(create_calc), 
    ansi_up.ansi_to_html(create_plot), 
    ansi_up.ansi_to_html(create_wf), 
    ansi_up.ansi_to_html(connect_wf),
    ansi_up.ansi_to_html(execute)
];
---

<div class="code-rotation">
    <div class="command-wrapper">
    {
        commands.map(cmd => (
            <div class="command-slide font-bold" >
                <!--noformat-->
                <pre><span class="text-accent-200">$</span> {cmd}</pre>
                <!--noformat-->
            </div>
        ))
    }
    </div>
    <div class="expressive-code">
        <figure class="frame is-terminal not-content">
            <figcaption class="header">
                <span class="title"></span>
                <span class="sr-only">Terminal Window</span>
            </figcaption>
            <div class="code-body code-wrapper">
                {
                    commands.map((_, i) => {
                        const lines = codeFiles[i].split(/\r?\n/);
                        return (
                            <div class="code-slide">
                                <!--noformat-->
                                <pre><code><div class="ec-line"class={`command-${i}`}><div class="code font-bold"><span class="text-accent-200"> $ </span>{commands[i]}</div></div></code></pre>
                                <pre><code>{lines.map((line, lx) => (<div class="ec-line"><div class="code" set:html={line}/></div>))}</code></pre>
                                <!--noformat-->
                            </div>
                        );
                    })
                }
            </div>
        </figure>
    </div>
</div>

<script is:inline>
    let index = 0;
    const command_slides = document.querySelectorAll(".command-slide");
    const code_slides = document.querySelectorAll(".code-slide");
    slideshow(index);

    function slideshow(slideIndex) {
        command_slides.forEach((item, i) =>{ 
            item.style.opacity = slideIndex != i ? 0 : 1;
            item.style.zIndex = slideIndex != i ? -1 : 1;
            if (slideIndex == i) 
            {
                pre = item.children[0];
                pre.style.animation = "none";
                pre.style.animation = `typing 1.5s steps(${pre.innerText.length + 1}, end)`;
            }
        });
         
        setTimeout(() => {
            code_slides.forEach((item, i) => item.style.opacity = slideIndex != i ? 0 : 1);
        }, 1500); //get typing duration
        index++;
        if (index >= code_slides.length) {
            index = 0;
        }
    }

    setInterval(() => slideshow(index), 5000);
</script>

<style>
    .code-rotation {
        width: 100%;
        position: relative;
        .expressive-code .frame {
            min-height: 30vh;
        };
    }
    .code-body,
    .command-slide {
        margin: auto;
        width: fit-content;
    }
    .command-wrapper {
        height: 3rem;
        position: relative;
    }
    .command-slide {
        opacity: 0;
        transition: opacity 1s ease-out;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        pre {
            overflow: hidden;
        }
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
    .code-wrapper {
        width: 100%;
        height: 55ch;
        position: relative;
    }
    .code-slide {
        opacity: 0;
        transition: opacity 1s ease-out;
        position: absolute;        
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        pre {
            overflow-wrap: break-word;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }

@media (max-width: 50rem) {

}
@media (min-width: 50rem) {
    .code-slide { 
        width: 84ch
    }
    .code-wrapper {        
        height: 94ch;
    }
}
</style>
